header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.head{
    margin-top: 90px;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,0.5fr));
    grid-gap: 10px;
}
.posts {
        border: 1px solid black;
        padding: 5px;
    
}

.posts p {
    margin-top: -10px;
}