.login-page-container{
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
}

.logi-form-container{
    flex: 0.5;
}

.login-logo{
    margin: 10px;
}
.login-element{
    display: flex;
    width: 200%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.account{
    margin-top: 15px;
}