.flights-list {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y:scroll;
  
}

.flights {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid black;
  
}
.book{
    margin-top: 23px;
}
.header{
    display: flex;
    border-bottom: 1px solid black;
   
}
.button{
  margin-left: 750px;
  margin-top: 15px;
 
}
.date-select {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
}

.date-select h3 {
    margin-top: 12px;
}